

h1{
    color:black;
    background-color: chartreuse;
    text-align: center;
}

.header{
    background-color: rosybrown;
    color: wheat;
    height: 40px;
    padding: 30 20 px;
    font-size: 60px;
}