h1{
    color:black;
    background-color: rgb(107, 190, 24);
    text-align: center;
}

p{
    color: blue;
}

.header{
    background-color: rosybrown;
    color: wheat;
    height: 40px;
    padding: 30 20 px;
    font-size: 60px;
}